<% title "Sample Test from Fernando Aleman" %>
<div id="instructions">
  <ul>
    <li>Add a new record via ajax on the first line.</li>
    <li>Edit any row via ajax by clicking anywhere on the row.</li>
    <li>Click on the "Click Me!" link and the row won't go into edit mode.</li>
    <li>Click on the "Delete" link to delete row via ajax.</li>
  </ul>
</div>

<h1>Posts</h1>

<div class="col_tr">
  <div class="col_th">Column One</div>
  <div class="col_th">Column Two</div>
  <div class="col_th">Column Three</div>
  <div class="col_th">Column Four</div>
  <div class="col_th">Column Five</div>
  <div class="col_th_last"></div>
</div>
<div class="clear"></div>

<div id="post_form"><%= render 'form' %></div>
<div id="posts_list"><%= render 'posts' %></div>

<br /><br />
<div class="box_frame">
  <h1>Big</h1>
  <div class="smal">Small</div>
  <hr />
  <div class="red">Left</div>
  <div class="green">Right</div>
</div>
